py-cpuinfo
pydantic
duckduckgo_search
beautifulsoup4
requests
chromadb
torch
torchvision
torchaudio
pytest
black
isort
ruff
pyinstaller
psutil
pyyaml
loguru
pyaudio
pvporcupine
faster-whisper
pyannote-audio
webrtcvad
speechbrain
mss
pywin32
python-xlib
easyocr
ultralytics
opencv-python
langchain
aiohttp
llama-cpp-python
meilisearch
tinydb
pyautogui
pynput
pycaw
pyalsaaudio
pyside6
coqui-tts
plyer
rich
